body {
  height: 200vh;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: url('assets/img/01-02-image4.gif');
  background-repeat: repeat-y;
  margin: auto;
  height: 100%;
}

.section {
  display: flex;
  align-content: center;
  justify-content: center;
}

.title {
  width: 90%;
  height: 20%;
  background-image: url('assets/img/01-brandd.png');
  background-position: center;
  background-size: 100%;
  background-blend-mode: lighten;
}